body {
    font-family: sans-serif;
}

h1 {
    color: orange;
}

p {
    color: #444;
}

img {
    width: 400px;
}

ol {
    margin-top: 25px;
}

ol > li {
    margin-bottom: 10px;
}

ol > li > a {
    color: green;
}

#update-notice {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #eee;
}